{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cotação de Ativos da B3{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <!-- Aqui você pode adicionar o cabeçalho do seu site, se necessário -->
    </header>
    
    <main>
        {% block content %}
        <!-- O conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </main>
    
    <footer>
        <!-- Aqui você pode adicionar o rodapé do seu site, se necessário -->
    </footer>
    
    {% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
