body {
    background-color: #0A1527;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.user {
    margin: 30px;
    margin-bottom: 0;
}

.classe_tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

table {
    width: 80%;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

tr {
    background-color: transparent;
}

th {
    text-align: center;
    background-color: #0B1E31;
    color: rgb(255, 230, 0);
    padding: 10px;
}
.th_fechamento{
    text-align: left;
}
.th_abertura{
    text-align: left;
}
.th_cotacao{
    text-align: left;
}



.th_nome{
    text-align: left;
}
.td_nome{
    text-align: left;
}
.td_fechamento{
    
    text-align: left;
}
.td_cotacao{
     text-align: left;
}
.td_abertura{
     text-align: left;
}

td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #016c7a;
}
positivo, .positivo i {
    color: green;
}

.negativo, .negativo i {
    color: red;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover td {
    background-color: rgba(245, 245, 245, 0.1);
}

tr:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-monitorar {
    padding: 5px 20px;
    background-color: #008cba;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-monitorar:hover {
    background-color: #005f73;
}
.btn-monitorado {
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
