/* Reset básico de margem e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
.navbar {
    background-color: #003C44; /* Ou qualquer outra cor de fundo desejada */
    padding: 1rem 0; /* Ajuste o preenchimento conforme necessário */
}

.navbar-brand {
    color: #ff0000;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #dddddd; /* Ou qualquer outra cor de hover desejada */
}

/* Adicione outros estilos personalizados aqui */
