{% extends 'ativos/base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/editar_ativos.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-editar-ativo">
    <div class="card-editar-ativo">
        <h2 class="card-title-editar-ativo">Editar Ativo: {{ ativo.nome }}</h2>
        <form method="post" class="form-editar-ativo">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
            <button type="submit" class="btn-primary-editar-ativo">Salvar Alterações</button>
        </form>
    </div>
</div>
{% endblock %}
