{% extends 'ativos/base.html' %}
{% load static %}
{% block head %}
{{ block.super }}
{% endblock %}


{% block content %}

  <div class= "user" style="text-align: right;">
    {% if request.user.is_authenticated %}
      Olá, {{ request.user.get_full_name|default:request.user.username }}!
      <a href="{% url 'meus_ativos' %}" class="btn btn-primary">Meus Ativos</a>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>

  
 <div class="classe_tabela"> 
  <h1>Cotação de Ativos da B3</h1>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th class="th_nome">Nome</th>
        <th class="th_fechamento">Último Fechamento</th>
        <th class="th_abertura">Abertura</th>
        <th class="th_cotacao">Cotação</th>
        <th>Variação Percentual</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for ativo in detalhes_ativos %}
        <tr>
          <td>{{ ativo.codigo }}</td>
          <td class="td_nome">{{ ativo.nome }}</td>
          <td class="td_fechamento">R$ {{ ativo.fechamento |floatformat:2 }}</td>
          <td class="td_abertura">R$ {{ ativo.abertura|floatformat:2 }}</td>
          <td class="td_cotacao">R$ {{ ativo.cotacao|floatformat:2 }}</td>
          <td>
          <span class="{% if ativo.variacao_percentual < 0 %}negativo{% elif ativo.variacao_percentual > 0 %}positivo{% endif %}">
            {% if ativo.variacao_percentual < 0 %}
              <i class="fa fa-arrow-down negativo" aria-hidden="true"></i>
            {% elif ativo.variacao_percentual > 0 %}
              <i class="fa fa-arrow-up positivo" aria-hidden="true"></i>
            {% endif %}
            {{ ativo.variacao_percentual|floatformat:2 }}%
          </span>
        <td>
          {% if ativo.monitorando %}
            <a href="{% url 'desmonitorar_ativo_view' ativo.codigo %}" class="btn-monitorado">Monitorado</a>
          {% else %}
            <a href="{% url 'monitorar_ativo_view' ativo.codigo %}" class="btn-monitorar">Monitorar</a>
          {% endif %}
        </td>
        
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">Não há ativos listados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  
{% endblock %}