{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center" style="color: #2c3e50;">Login</h2>
          <form method="post" class="p-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <p class="text-center mt-3" style="color: #34495e;">Ainda não tem uma conta? <a href="{% url 'signup' %}" style="color: #2980b9;">Cadastre-se aqui</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
