{% extends 'ativos/base.html' %}
{% load static %}
{% block head %}
{{ block.super }}
<link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-signup">
    <div class="card-signup">
        <h2 class="card-title-signup">Cadastro</h2>
        <form method="post" class="form-signup">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </p>
            {% endfor %}
            <div class="button-group">
                <button type="submit" class="btn-primary-signup">Cadastrar</button>
            </div>
        </form>
        <p class="text-signup" style="color: #34495e;">
            Já tem uma conta?
            <a href="{% url 'login' %}" style="color: #2980b9;">Entre aqui</a>
        </p>
    </div>
</div>
{% endblock %}
